# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# setup script
setup.sh

# generated images
/vibe_images
/dist/_next/static/chunks/0d75f8b9232205ab.js
/dist/_next/static/media/1bffadaabf893a1e-s.7cd81963.woff2
/dist/_next/static/chunks/1dbbd234346698eb.js
/dist/_next/static/media/2bbe8d2671613f1f-s.76dcb0b2.woff2
/dist/_next/static/media/2c55a0e60120577a-s.2a48534a.woff2
/dist/_next/static/media/9c72aa0f40e4eef8-s.18a48cbc.woff2
/dist/_next/static/chunks/14d5632bcdc0ecce.js
/dist/_next/static/media/83afe278b6a6bb3c-s.p.3a6ba036.woff2
/dist/404.html
/dist/_next/static/chunks/2768c73f1c03f71f.css
/dist/_next/static/media/5476f68d60460930-s.c995e352.woff2
/dist/__next.__PAGE__.txt
/dist/_not-found/__next._full.txt
/dist/__next._full.txt
/dist/_not-found/__next._head.txt
/dist/__next._head.txt
/dist/_not-found/__next._index.txt
/dist/__next._index.txt
/dist/_not-found/__next._not-found.txt
/dist/_not-found/__next._tree.txt
/dist/__next._tree.txt
/dist/_not-found/__next._not-found/__PAGE__.txt
/dist/_next/static/PgwNON-bVurXEaHDXDJ0n/_buildManifest.js
/dist/_next/static/PgwNON-bVurXEaHDXDJ0n/_clientMiddlewareManifest.json
/dist/_not-found.html
/dist/_not-found.txt
/dist/_next/static/PgwNON-bVurXEaHDXDJ0n/_ssgManifest.js
/dist/_next/static/chunks/a2feed4d816314a4.js
/dist/_next/static/chunks/a6dad97d9634a72d.js
/dist/_next/static/chunks/a6dad97d9634a72d.js.map
/dist/_next/static/media/ad66f9afd8947f86-s.7a40eb73.woff2
/dist/_next/static/chunks/ef9146168025f736.js
/dist/images/hero-banner.png
/dist/index.html
/dist/index.txt
/nul
/dist/_next/static/chunks/turbopack-63d48fbbce1d4cc4.js
